---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/Home/NavBar/NavBar.astro";
import Header from "../components/Home/Header.astro";
import PodcastReview from "../components/Home/PodcastReview.astro";
import PublishEverywhere from "../components/Home/PublishEverywhere.astro";
import HostPodcast from "../components/Home/HostPodcast.astro";
---

<Layout title="Podcast-Fm | You podcast's publishing platform">
  <NavBar />
  <main class="-mt-10">
    <Header />
    <PodcastReview />
    <div class="w-full space-y-24 mt-40">
      <PublishEverywhere />
      <HostPodcast />
    </div>
  </main>
</Layout>
