---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/Home/NavBar/NavBar.astro";
import Header from "../components/Home/Header.astro";
---

<Layout title="Podcast-Fm | You podcast's publishing platform">
  <NavBar />
  <main>
    <Header />
  </main>
</Layout>
