---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/Home/NavBar/NavBar.astro";
import Header from "../components/Home/Header.astro";
import PodcastReview from "../components/Home/PodcastReview.astro";
import PublishEverywhere from "../components/Home/PublishEverywhere.astro";
import HostPodcast from "../components/Home/HostPodcast.astro";
import BuildWebsite from "../components/Home/BuildWebsite.astro";
import AudioPlayer from "../components/Home/AudioPlayer.astro";
---

<Layout title="Podcast-Fm | You podcast's publishing platform">
  <NavBar />
  <main class="-mt-10">
    <Header />
    <PodcastReview />
    <div
      class="relative w-full mt-40 space-y-24 after:absolute after:w-full after:h-52 after:bottom-0 left-0 after:bg-gradient-to-t after:from-dark-700 after:z-[-10] after:to-white/0"
    >
      <PublishEverywhere />
      <HostPodcast />
      <BuildWebsite />
      <AudioPlayer />
    </div>
  </main>
</Layout>
