---
import Layout from "../layouts/Layout.astro";
// import Header from "../components/home/Header.astro";
import PodcastReview from "../components/home/PodcastReview.astro";
import PublishEverywhere from "../components/home/PublishEverywhere.astro";
import HostPodcast from "../components/home/HostPodcast.astro";
import BuildWebsite from "../components/home/BuildWebsite.astro";
import AudioPlayer from "../components/home/AudioPlayer.astro";
import PodcastAnalytics from "../components/home/PodcastAnalytics.astro";
import TransistorPodcasts from "../components/home/TransistorPodcasts.astro";
import Pricing from "../components/home/Pricing.astro";
import Contactus from "../components/home/Contactus.astro";
---

<Layout title="Podcast-Fm | You podcast's publishing platform">
  <main class="-mt-10">
    <!-- <Header /> -->
    <PodcastReview />
    <div
      class="relative w-full mt-40 space-y-24 after:absolute after:w-full after:h-52 after:bottom-0 left-0 after:bg-gradient-to-t after:from-dark-700 after:z-[-10] after:to-white/0"
    >
      <PublishEverywhere />
      <HostPodcast />
      <BuildWebsite />
      <AudioPlayer />
    </div>
    <PodcastAnalytics />
    <TransistorPodcasts />
    <Pricing />
    <Contactus />
  </main>
</Layout>
