<style>
  .amplitude-play-pause.amplitude-playing #pause-icon {
    display: block;
  }

  .amplitude-play-pause.amplitude-paused #pause-icon {
    display: none;
  }

  .amplitude-play-pause.amplitude-paused #play-icon {
    display: block;
  }

  .amplitude-play-pause.amplitude-playing #play-icon {
    display: none;
  }

  /* Mute | unmute */
  .amplitude-mute.amplitude-not-muted #mute-icon {
    display: block;
  }
  .amplitude-mute.amplitude-not-muted #unmute-icon {
    display: none;
  }
  .amplitude-mute.amplitude-muted #mute-icon {
    display: none;
  }
  .amplitude-mute.amplitude-muted #unmute-icon {
    display: block;
  }

  /* play back speed */
  .amplitude-playback-speed.amplitude-playback-speed-10 #speed-10 {
    visibility: visible;
  }
  .amplitude-playback-speed.amplitude-playback-speed-15 #speed-15 {
    visibility: visible;
  }
  .amplitude-playback-speed.amplitude-playback-speed-20 #speed-20 {
    visibility: visible;
  }
</style>

<section>
  <div class="space-y-6 translate-y-1/4 container mx-auto px-12">
    <div class="text-center">
      <h2 class="text-2xl md:text-3xl lg:text-5xl mb-4 font-medium">
        How does this sound?
      </h2>
      <p class="text-lg sm:text-xl mb-2">
        Embed the podcast player on your website.
      </p>
      <a
        href="#"
        class="group inline-flex items-center text-gold-600 hover:text-gold-strong transition-colors text-sm"
      >
        <span>View more examples</span>
        <svg
          class="relative right-0 w-4 h-4 ml-1 transition-all group-hover:-right-1"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
        </svg>
      </a>
    </div>

    <div class="flex max-w-full justify-center">
      <div
        class="flex p-4 pb-12 relative sm:pb-4 gap-4 bg-[#30343c] rounded-md"
      >
        <div class="flex flex-col items-center gap-3">
          <div class="sm:w-36 w-16 h-16 sm:h-36 rounded-md overflow-hidden">
            <img
              src="/assets/thumb_1675782931-artwork.jpg"
              alt="artwork"
              class="w-full h-full object-cover"
            />
          </div>
          <button class="sm:hidden fill-white w-12 h-12 amplitude-play-pause">
            <svg
              id="play-icon"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8,16 C12.4183,16 16,12.4183 16,8 C16,3.58172 12.4183,0 8,0 C3.58172,0 0,3.58172 0,8 C0,12.4183 3.58172,16 8,16 Z M7.5547,5.16795 C7.24784,4.96338 6.8533,4.94431 6.52814,5.11833 C6.20298,5.29235 6,5.63121 6,6.00000106 L6,10.0000011 C6,10.3688 6.20298,10.7077 6.52814,10.8817 C6.8533,11.0557 7.24784,11.0366 7.5547,10.8321 L10.5547,8.8321 C10.8329,8.6466 11,8.3344 11,8.00000106 C11,7.66565 10.8329,7.35342 10.5547,7.16795 L7.5547,5.16795 Z"
              ></path>
            </svg>
            <svg
              id="pause-icon"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M16,8 C16,12.4183 12.4183,16 8,16 C3.58172,16 0,12.4183 0,8 C0,3.58172 3.58172,0 8,0 C12.4183,0 16,3.58172 16,8 Z M5,6 C5,5.44772 5.44772,5 6,5 C6.55228,5 7,5.44772 7,6 L7,10 C7,10.5523 6.55228,11 6,11 C5.44772,11 5,10.5523 5,10 L5,6 Z M10,5 C9.4477,5 9,5.44772 9,6 L9,10 C9,10.5523 9.4477,11 10,11 C10.5523,11 11,10.5523 11,10 L11,6 C11,5.44772 10.5523,5 10,5 Z"
              ></path>
            </svg>
          </button>
        </div>
        <div class="flex flex-1 flex-col justify-between">
          <div class="space-y-3">
            <div class="mb-8 sm:mb-0">
              <h4 class="uppercase text-[11px] text-[#a2a3a7]">
                <p class="font-medium">
                  deep dive with ali abdal <span>•</span>
                  &nbsp;
                  <span class="font-thin"
                    >episode 15 <span>•</span> season 5</span
                  >
                </p>
              </h4>

              <h2 class="font-bold text-xl line-clamp-1">
                7 Lessons To Build A Life You Love - Season 5 Wrap
              </h2>
            </div>

            <div class="flex items-center gap-4">
              <button
                class="fill-white w-12 h-12 amplitude-play-pause hidden sm:block"
              >
                <svg
                  id="play-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8,16 C12.4183,16 16,12.4183 16,8 C16,3.58172 12.4183,0 8,0 C3.58172,0 0,3.58172 0,8 C0,12.4183 3.58172,16 8,16 Z M7.5547,5.16795 C7.24784,4.96338 6.8533,4.94431 6.52814,5.11833 C6.20298,5.29235 6,5.63121 6,6.00000106 L6,10.0000011 C6,10.3688 6.20298,10.7077 6.52814,10.8817 C6.8533,11.0557 7.24784,11.0366 7.5547,10.8321 L10.5547,8.8321 C10.8329,8.6466 11,8.3344 11,8.00000106 C11,7.66565 10.8329,7.35342 10.5547,7.16795 L7.5547,5.16795 Z"
                  ></path>
                </svg>
                <svg
                  id="pause-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16,8 C16,12.4183 12.4183,16 8,16 C3.58172,16 0,12.4183 0,8 C0,3.58172 3.58172,0 8,0 C12.4183,0 16,3.58172 16,8 Z M5,6 C5,5.44772 5.44772,5 6,5 C6.55228,5 7,5.44772 7,6 L7,10 C7,10.5523 6.55228,11 6,11 C5.44772,11 5,10.5523 5,10 L5,6 Z M10,5 C9.4477,5 9,5.44772 9,6 L9,10 C9,10.5523 9.4477,11 10,11 C10.5523,11 11,10.5523 11,10 L11,6 C11,5.44772 10.5523,5 10,5 Z"
                  ></path>
                </svg>
              </button>
              <div class="flex-1 space-y-2">
                <div
                  class="w-full overflow-hidden h-3 bg-white/20 rounded-full"
                >
                  <span
                    id="audio-percentage-played"
                    class="h-full w-0 rounded-full block bg-light"></span>
                </div>
                <div class="flex justify-between items-center">
                  <div class="flex items-center gap-2">
                    <button class="sm:w-4 w-3 sm:h-4 h-3 amplitude-back">
                      <svg
                        class="fill-[#a2a3a7] hover:fill-white transition-colors"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                      >
                        <path
                          d="M19.419962,2.57 L20.789962,1.21 L20.789962,1.20999999 C21.066111,0.931608989 21.064293,0.482064989 20.7859019,0.205919989 C20.6539209,0.0750019893 20.4758579,0.00106998926 20.2899619,2.98926377e-06 L14.9999619,2.98926377e-06 L14.9999619,5.29000299 L14.9999619,5.2900038 C15.0022111,5.6821198 15.3219069,5.9981688 15.7140229,5.9959198 C15.8999189,5.99485348 16.0779819,5.9209207 16.2099629,5.7900028 L17.9999629,4.00000299 L17.9999633,4.00000299 C22.4115033,7.32267305 23.2942133,13.5924931 19.9715433,18.0040031 C16.6488733,22.4155431 10.3790533,23.2982531 5.96754326,19.9755831 C1.55600326,16.6529131 0.67329326,10.3830931 3.99596326,5.97158305 C5.50733326,3.96493305 7.71859326,2.60063305 10.1899933,2.15000305 L10.1899934,2.15000303 C10.7422784,2.05059173 11.1094044,1.52228803 11.0099934,0.970003035 C10.9105821,0.417718035 10.3822784,0.0505920346 9.82999335,0.150003035 L9.82999275,0.150003146 C3.31278275,1.35360315 -0.994707248,7.61255315 0.208852752,14.1298031 C1.41245275,20.6470131 7.67140275,24.9545031 14.1886528,23.7509431 C20.7058628,22.5473431 25.0133528,16.2883931 23.8097928,9.77114315 C23.2799238,6.90203315 21.7229128,4.32424315 19.4300328,2.52000315 L19.419962,2.57 Z M8.99996191,16 L8.99996191,16 C9.55224696,16 9.99996191,15.552285 9.99996191,15 L9.99996191,8 L6.99996191,8 L6.99996191,8 C6.44767691,8 5.99996191,8.447715 5.99996191,9 C5.99996191,9.552285 6.44767691,10 6.99996191,10 L7.99996191,10 L7.99996191,15 L7.99996191,15 C7.99996191,15.5522848 8.44767691,16 8.99996191,16 C8.99996191,16 8.99996191,16 8.99996191,16 L8.99996191,16 Z M13.9999619,16 L13.9999619,16 C15.6568119,16 16.9999619,14.65685 16.9999619,13 L16.9999619,11 L16.9999619,11 C16.9999619,9.34315 15.6568119,8 13.9999619,8 C12.3431119,8 10.9999619,9.34315 10.9999619,11 L10.9999619,13 L10.9999619,13 C10.9999619,14.6568505 12.3431119,16 13.9999619,16 C13.9999619,16 13.9999619,16 13.9999619,16 L13.9999619,16 Z M12.999962,11.0000002 L12.999962,11.0000002 C12.999962,10.4477152 13.447677,10.0000002 13.999962,10.0000002 C14.552247,10.0000002 14.999962,10.4477152 14.999962,11.0000002 C14.999962,11.0000002 14.999962,11.0000002 14.999962,11.0000002 L14.999962,13.0000002 L14.999962,13.0000002 C14.999962,13.5522852 14.552247,14.0000002 13.999962,14.0000002 C13.447677,14.0000002 12.999962,13.5522852 12.999962,13.0000002 L12.999962,11.0000002 Z"
                        ></path>
                      </svg>
                    </button>
                    <button
                      class="sm:w-9 w-7 border border-[#a2a3a7] rounded inline-flex items-center justify-center sm:text-xs text-[10px] h-4 sm:h-5 text-[#a2a3a7] hover:text-white amplitude-playback-speed transition-colors"
                    >
                      <span id="speed-10" class="absolute invisible">x1</span>
                      <span id="speed-15" class="absolute invisible">x1.5</span>
                      <span id="speed-20" class="absolute invisible">x2</span>
                    </button>

                    <!-- mute / unmute -->
                    <button class="sm:w-4 w-3 sm:h-4 h-3 amplitude-mute">
                      <svg
                        id="mute-icon"
                        class="fill-[#a2a3a7] hover:fill-white transition-colors"
                        xmlns="http://www.w3.org/2000/svg"
                        role="img"
                        viewBox="0 0 24 24"
                        ><path
                          d="M3,5.13137l-1.31134e-07,3.55271e-15c-1.65685,7.24234e-08 -3,1.34315 -3,3c0,0 0,1.77636e-15 0,1.77636e-15v6l3.19744e-14,4.52987e-07c2.50178e-07,1.65685 1.34315,3 3,3h2.65l6.35,5v-22l-6.35,5Zm17,6l3.22943e-07,0.000513405c-0.00126608,-2.11713 -0.81346,-4.15334 -2.26965,-5.69014l4.49398e-08,4.72193e-08c-0.381076,-0.400406 -1.01459,-0.416077 -1.415,-0.0350001c-0.400406,0.381076 -0.416077,1.01459 -0.0350001,1.415l3.56262e-08,3.74132e-08c2.29841,2.4137 2.29841,6.2063 -7.12523e-08,8.62l2.29995e-08,-2.28117e-08c-0.392122,0.38892 -0.394718,1.02208 -0.00579837,1.4142c0.00192484,0.00194069 0.00385763,0.00387348 0.00579832,0.00579832l1.49479e-08,1.40058e-08c0.194393,0.182142 0.453427,0.279193 0.719647,0.269627l5.01314e-08,3.09438e-10c0.27566,0.00170152 0.539796,-0.110466 0.73,-0.31l2.80721e-07,-2.96224e-07c1.45628,-1.53671 2.2686,-3.57287 2.27,-5.69Zm-1.4,-10.8l3.78218e-08,2.83663e-08c-0.441828,-0.331371 -1.06863,-0.241828 -1.4,0.2c-0.331371,0.441828 -0.241828,1.06863 0.2,1.4c1.00526e-08,7.53946e-09 2.76447e-08,2.07335e-08 3.76973e-08,2.8273e-08l6.40586e-07,4.8044e-07c5.08102,3.81077 6.11076,11.019 2.3,16.1c-0.653824,0.871765 -1.42823,1.64618 -2.3,2.3l-7.79577e-08,5.84683e-08c-0.441828,0.331371 -0.531371,0.958172 -0.2,1.4l5.13133e-08,6.84178e-08c0.188854,0.251806 0.485243,0.4 0.8,0.4l-4.37114e-08,3.55271e-15c0.21637,9.45784e-09 0.426904,-0.0701779 0.6,-0.2l7.51993e-07,-5.63995e-07c5.96467,-4.47351 7.17351,-12.9353 2.7,-18.9c-0.767532,-1.02338 -1.67662,-1.93247 -2.7,-2.7Z"
                          transform="translate(-7.24234e-08, 0.868629)"
                        ></path></svg
                      >
                      <svg
                        id="unmute-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        role="img"
                        viewBox="0 0 24 24"
                        class="fill-[#a2a3a7] hover:fill-white transition-colors"
                        ><path
                          d="M0.102122,9.10212v6l3.55271e-14,4.52987e-07c2.50178e-07,1.65685 1.34315,3 3,3h2.65l6.35,5v-5.38l-10.91,-10.91l-2.60839e-07,2.15336e-07c-0.683992,0.56467 -1.08305,1.40307 -1.09,2.29Zm21.38,11l2.57883e-07,-3.48565e-07c4.41117,-5.96232 3.16798,-14.3695 -2.78,-18.8l4.23752e-08,3.17814e-08c-0.441828,-0.331371 -1.06863,-0.241828 -1.4,0.2c-0.331371,0.441828 -0.241828,1.06863 0.2,1.4c1.29779e-08,9.7334e-09 1.62223e-08,1.21668e-08 2.92002e-08,2.19001e-08l6.32019e-07,4.69153e-07c4.96483,3.68544 6.11484,10.643 2.6,15.73l-1.6,-1.59l5.16025e-07,-6.88458e-07c2.41371,-3.22027 2.15172,-7.71217 -0.620001,-10.63l4.49398e-08,4.72193e-08c-0.381076,-0.400406 -1.01459,-0.416077 -1.415,-0.0350001c-0.400406,0.381076 -0.416077,1.01459 -0.0350001,1.415l9.88607e-08,1.03887e-07c2.02516,2.12812 2.29169,5.38058 0.64,7.81l-4.97,-4.91v-9.59l-5.37,4.22l-4.92,-4.93l6.9121e-08,6.91211e-08c-0.392122,-0.392122 -1.02788,-0.392122 -1.42,-1.38242e-07c-0.392122,0.392122 -0.392122,1.02788 -1.38242e-07,1.42c0,0 0,0 0,0l22,22l-3.12092e-08,-3.14662e-08c0.38892,0.392122 1.02208,0.394718 1.4142,0.00579839c0.00194069,-0.00192484 0.00387348,-0.00385763 0.00579832,-0.00579832l4.18882e-08,-4.15461e-08c0.392122,-0.38892 0.394718,-1.02208 0.00579824,-1.4142c-0.00192484,-0.00194069 -0.00385763,-0.00387348 -0.00579832,-0.00579832Z"
                          transform="translate(-0.102122, -0.102122)"
                        ></path></svg
                      >
                    </button>
                    <button class="sm:w-4 w-3 sm:h-4 h-3">
                      <svg
                        class="fill-[#a2a3a7] hover:fill-white transition-colors"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                      >
                        <path
                          d="M15.0000099,16 L15.0000099,16 C16.6568599,16 18.0000099,14.65685 18.0000099,13 L18.0000099,11 L18.0000099,11 C18.0000099,9.34315 16.6568599,8 15.0000099,8 C13.3431599,8 12.0000099,9.34315 12.0000099,11 L12.0000099,13 L12.0000099,13 C12.0000099,14.6568505 13.3431599,16 15.0000099,16 C15.0000099,16 15.0000099,16 15.0000099,16 L15.0000099,16 Z M14.00001,11.0000002 L14.00001,11.0000002 C14.00001,10.4477152 14.447725,10.0000002 15.00001,10.0000002 C15.552295,10.0000002 16.00001,10.4477152 16.00001,11.0000002 C16.00001,11.0000002 16.00001,11.0000002 16.00001,11.0000002 L16.00001,13.0000002 L16.00001,13.0000002 C16.00001,13.5522852 15.552295,14.0000002 15.00001,14.0000002 C14.447725,14.0000002 14.00001,13.5522852 14.00001,13.0000002 L14.00001,11.0000002 Z M7.00000983,7.99999762 L7.00000983,7.99999762 C6.44772496,7.99999762 6.00000983,8.447715 6.00000983,8.99999762 C6.00000983,9.552285 6.44772496,9.99999762 7.00000983,9.99999762 L8.50000983,9.99999762 L8.50000983,9.99999762 C8.77615193,9.99999762 9.00000983,10.223858 9.00000983,10.4999976 C9.00000983,10.776142 8.77615193,10.9999976 8.50000983,10.9999976 L7.00000983,10.9999976 L7.00000983,10.9999976 C6.44772489,10.9999976 6.00000983,11.447715 6.00000983,11.9999976 C6.00000983,12.552285 6.44772489,12.9999976 7.00000983,12.9999976 L8.50000983,12.9999976 L8.50000983,12.9999976 C8.77615187,12.9999976 9.00000983,13.223858 9.00000983,13.4999976 C9.00000983,13.776142 8.77615187,13.9999976 8.50000983,13.9999976 L7.00000983,13.9999976 L7.00000983,13.9999976 C6.44772483,13.9999976 6.00000983,14.447715 6.00000983,14.9999976 C6.00000983,15.552285 6.44772483,15.9999976 7.00000983,15.9999976 L8.50000983,15.9999976 L8.50000983,15.9999976 C9.88071972,15.9999976 11.0000098,14.88071 11.0000098,13.4999976 L11.0000098,13.5000078 C10.9949875,12.9583018 10.8162208,12.4325078 10.4900148,12.0000078 L10.4900147,12.0000079 C10.8162217,11.5675019 10.9949887,11.0417099 11.0000098,10.4999976 L11.0000098,10.4999976 C11.0000098,9.11928762 9.88071974,7.99999762 8.50000983,7.99999762 C8.50000983,7.99999762 8.50000983,7.99999762 8.50000983,7.99999762 L7.00000983,7.99999762 Z M14.18001,0.2 L14.1800101,0.200000017 C13.6277251,0.100588717 13.0994201,0.467715017 13.0000101,1.02000002 C12.9005988,1.57228502 13.2677251,2.10059002 13.8200101,2.20000002 L13.8200112,2.20000022 C19.2469712,3.22467022 22.8157312,8.45476022 21.7910512,13.8817002 C20.7663812,19.3086602 15.5362912,22.8774202 10.1093512,21.8527402 C4.68239119,20.8280702 1.11363119,15.5979802 2.13831119,10.1710402 C2.60451319,7.70190022 3.98319119,5.49877022 6.00003119,4.00000013 L7.79003119,5.79000022 L7.79003121,5.79000024 C8.06842221,6.06614924 8.51796621,6.06433124 8.79411121,5.78594013 C8.92502921,5.65395913 8.99896121,5.47589613 9.00002821,5.29000013 L9.00002821,1.31893483e-07 L3.71002821,1.31893483e-07 L3.71002824,1.31893483e-07 C3.31791224,0.00224888189 3.00186324,0.321944132 3.00411124,0.714060132 C3.00517734,0.899956132 3.07910994,1.07801913 3.21002824,1.21000013 L4.58002824,2.57000013 L4.58002779,2.57000049 C-0.628262215,6.66833049 -1.52806221,14.2128005 2.57026779,19.4211005 C6.66859779,24.6293905 14.2130678,25.5291905 19.4213678,21.4308605 C24.6296578,17.3325305 25.5294578,9.78806049 21.4311278,4.57976049 C19.6268878,2.28688049 17.0490978,0.729870486 14.1799878,0.200000486 L14.18001,0.2 Z"
                        ></path>
                      </svg>
                    </button>
                  </div>
                  <div>
                    <p class="text-[#a2a3a7] font-thin sm:text-xs text-[10px]">
                      <span class="amplitude-current-time"></span>
                      <span>|</span>
                      <span class="amplitude-duration-time"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer
            class="flex absolute sm:static bottom-4 left-0 pr-4 sm:pr-0 w-full justify-between items-center"
          >
            <ul
              class="flex gap-2 text-[#a2a3a7] font-thin uppercase sm:text-xs text-[10px] order-2 sm:order-2"
            >
              <li>
                <a
                  href="#"
                  class="tracking-wider hover:text-white transition-colors"
                  >subscribe</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="tracking-wider hover:text-white transition-colors"
                  >share</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="tracking-wider hover:text-white transition-colors"
                  >moreinfo</a
                >
              </li>
            </ul>

            <div>
              <a href="" target="_new">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="100px"
                  height="20px"
                  viewBox="0 0 450 144"
                  version="1.1"
                  class="group cursor-pointer fill-danger-500"
                >
                  <g
                    id="Page-1"
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <g
                      id="transistor_horizontal"
                      fill-rule="nonzero"
                      class="group-hover:fill-white transition-colors fill-[#a2a3a7]"
                    >
                      <g
                        id="Group"
                        transform="translate(191.000000, 42.000000)"
                      >
                        <polygon
                          id="Shape"
                          points="0.7 10.4 0.7 1.8 38.6 1.8 38.6 10.4 24.5 10.4 24.5 58.3 14.7 58.3 14.7 10.4"
                        ></polygon>
                        <path
                          d="M63.3,26.2 C62.1,26 60.7,25.8 58.7,25.8 C52.4,25.8 48.7,29.9 48.7,38.2 L48.7,58.2 L39.4,58.2 L39.4,18.6 L48.5,18.6 L48.5,24.2 L48.7,24.2 C50.5,20.8 54.5,17.3 59.8,17.3 C61.3,17.3 62.3,17.4 63.3,17.5 L63.3,26.2 L63.3,26.2 Z"
                          id="Shape"></path>
                        <path
                          d="M107.8,58.2 L98.8,58.2 L98.8,53.2 L98.6,53.2 C95.9,56.6 91.6,59.7 85,59.7 C76.1,59.7 66,52.6 66,38.4 C66,25.8 74.9,17.4 85.7,17.4 C92.3,17.4 96.3,20.9 98.7,24 L98.9,24 L98.9,18.6 L107.9,18.6 L107.9,58.2 L107.8,58.2 Z M87.4,51.5 C93.5,51.5 99.2,46.2 99.2,38.6 C99.2,30.6 94,25.3 87.5,25.3 C79.3,25.3 75.4,31.9 75.4,38.4 C75.4,45 79.2,51.5 87.4,51.5 Z"
                          id="Shape"></path>
                        <path
                          d="M118.6,18.6 L127.8,18.6 L127.8,23.6 L128,23.6 C131.1,19.1 135.7,17.3 140.1,17.3 C148.3,17.3 155.5,22.7 155.5,35.4 L155.5,58.2 L146.2,58.2 L146.2,35.9 C146.2,29.1 143,25.5 137.7,25.5 C131.9,25.5 127.9,29.6 127.9,37.3 L127.9,58.3 L118.6,58.3 L118.6,18.6 L118.6,18.6 Z"
                          id="Shape"></path>
                        <path
                          d="M183.6,28.8 C183.2,25.9 181,24 178.3,24 C175.1,24 173.3,26 173.3,28.2 C173.3,30.6 174.5,32.3 181.4,34.6 C189.9,37.3 192.9,41.7 192.9,47.3 C192.9,54.6 187.4,59.7 178.3,59.7 C168.8,59.7 164.1,54.5 163.4,47.1 L172,47.1 C172.4,50.4 174.4,52.9 178.5,52.9 C182,52.9 184,50.7 184,48 C184,45 182.3,43.1 175.7,40.9 C168.3,38.5 164.5,34.8 164.5,28.6 C164.5,22.1 169.6,17.3 178,17.3 C186.5,17.3 191,22.3 192,28.8 L183.6,28.8 L183.6,28.8 Z"
                          id="Shape"></path>
                        <path
                          d="M201,0.4 L211.3,0.4 L211.3,9.8 L201,9.8 L201,0.4 Z M201.5,18.6 L210.8,18.6 L210.8,58.3 L201.5,58.3 L201.5,18.6 Z"
                          id="Shape"></path>
                        <path
                          d="M239.5,28.8 C239.1,25.9 236.9,24 234.2,24 C231,24 229.2,26 229.2,28.2 C229.2,30.6 230.4,32.3 237.3,34.6 C245.8,37.3 248.8,41.7 248.8,47.3 C248.8,54.6 243.3,59.7 234.2,59.7 C224.7,59.7 220,54.5 219.3,47.1 L227.9,47.1 C228.3,50.4 230.3,52.9 234.4,52.9 C237.9,52.9 239.9,50.7 239.9,48 C239.9,45 238.2,43.1 231.6,40.9 C224.2,38.5 220.4,34.8 220.4,28.6 C220.4,22.1 225.5,17.3 233.9,17.3 C242.4,17.3 246.9,22.3 247.9,28.8 L239.5,28.8 L239.5,28.8 Z"
                          id="Shape"></path>
                        <path
                          d="M252.8,18.6 L257.8,18.6 L257.8,5.9 L267.1,5.9 L267.1,18.6 L277,18.6 L277,26.4 L267,26.4 L267,44.1 C267,49.5 268.7,51 272.5,51 C274.1,51 275.9,50.7 277.3,50.3 L277.3,57.8 C275.2,58.4 272.6,58.7 270.3,58.7 C260.4,58.7 257.8,52.7 257.8,44.6 L257.8,26.4 L252.8,26.4 L252.8,18.6 Z"
                          id="Shape"></path>
                        <path
                          d="M302.3,17.3 C314.7,17.3 323.5,26.4 323.5,38.4 C323.5,50.1 314.6,59.7 302.3,59.7 C290.2,59.7 281.1,50.4 281.1,38.4 C281.1,26.1 290.3,17.3 302.3,17.3 Z M302.3,51.4 C309.3,51.4 314.1,45.8 314.1,38.4 C314.1,31.4 309.6,25.5 302.3,25.5 C295.2,25.5 290.5,31 290.5,38.4 C290.5,46 295.9,51.4 302.3,51.4 Z"
                          id="Shape"></path>
                        <path
                          d="M350.9,25.8 C344.6,25.8 340.9,29.9 340.9,38.2 L340.9,58.2 L331.6,58.2 L331.6,18.6 L340.7,18.6 L340.7,24.2 L340.9,24.2 C342.7,20.8 346.7,17.3 352,17.3 C353.5,17.3 354.5,17.4 355.5,17.5 L355.5,26.2 C354.3,26 352.9,25.8 350.9,25.8 Z"
                          id="Shape"></path>
                      </g>
                      <g id="Group">
                        <g
                          transform="translate(24.000000, 24.000000)"
                          id="Shape"
                        >
                          <path
                            d="M48,95.9 C45.4,95.9 43.2,93.8 43.2,91.1 L43.2,4.9 C43.2,2.3 45.3,0.1 48,0.1 C50.6,0.1 52.8,2.2 52.8,4.9 L52.8,91.1 C52.8,93.7 50.6,95.9 48,95.9 Z"
                          ></path>
                          <path
                            d="M28,52.8 L5,52.8 C2.4,52.8 0.2,50.7 0.2,48 C0.2,45.3 2.3,43.2 5,43.2 L28,43.2 C30.6,43.2 32.8,45.3 32.8,48 C32.8,50.7 30.6,52.8 28,52.8 Z"
                          ></path>
                          <path
                            d="M91.1,52.8 L68,52.8 C65.4,52.8 63.2,50.7 63.2,48 C63.2,45.3 65.3,43.2 68,43.2 L91,43.2 C93.6,43.2 95.8,45.3 95.8,48 C95.8,50.7 93.7,52.8 91.1,52.8 Z"
                          ></path>
                        </g>
                        <path
                          d="M72,144 C32.3,144 0,111.7 0,72 C0,32.3 32.3,0 72,0 C111.7,0 144,32.3 144,72 C144,111.7 111.7,144 72,144 Z M72,9.6 C37.6,9.6 9.6,37.6 9.6,72 C9.6,106.4 37.6,134.4 72,134.4 C106.4,134.4 134.4,106.4 134.4,72 C134.4,37.6 106.4,9.6 72,9.6 Z"
                          id="Shape"></path>
                      </g>
                    </g>
                  </g>
                </svg>
              </a>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>

  <script>
    import Amplitude from "amplitudejs";
    Amplitude.init({
      bindings: {
        37: "prev",
        39: "next",
        32: "play_pause",
      },
      callbacks: {
        timeupdate: function () {
          let percentage = Amplitude.getSongPlayedPercentage();

          if (isNaN(percentage)) {
            percentage = 0;
          }

          let slider = document.getElementById("audio-percentage-played")!;
          slider.style.width = percentage + "%";
        },
      },
      volume: 50,
      songs: [
        {
          name: "First Snow",
          artist: "Emancipator",
          album: "Soon It Will Be Cold Enough",
          url: "https://521dimensions.com/song/FirstSnow-Emancipator.mp3",
          cover_art_url:
            "https://521dimensions.com/img/open-source/amplitudejs/album-art/soon-it-will-be-cold-enough.jpg",
        },
      ],
    });
  </script>
</section>
