<section class="container px-3 mx-auto mb-40 md:px-6">
  <div
    class="flex flex-col items-center w-full p-8 mx-auto space-y-6 sm:max-w-sm md:space-y-0 md:max-w-full md:space-x-8 md:flex-row group bg-white/10 rounded-2xl"
  >
    <div class="space-y-5 md:pr-8 md:border-r border-white/20">
      <h5 class="text-lg font-semibold">Entreprise</h5>
      <span class="block text-3xl font-bold"
        >$199+<sup class="text-sm">/mo</sup></span
      >
    </div>

    <div class="flex-1">
      <p
        class="max-w-3xl font-light text-center text-md md:text-lg md:text-left"
      >
        If you need more than 250,000 downloads per month, or more than 3,000
        private podcast subscribers, <a href="#" class="underline">contact us</a
        > about our Enterprise plans.
      </p>
    </div>

    <button
      class="flex items-center gap-2 p-3 border border-white group-hover:text-dark group-hover:bg-white rounded-xl 2xl"
    >
      <svg
        class="w-5 h-5 stroke-white group-hover:stroke-dark fill-transparent"
      >
        <use href="/assets/icons.svg#icon-chat"></use>
      </svg>
      <span class="font-medium whitespace-nowrap">Contact Us</span>
    </button>
  </div>
</section>
