<div class="relative px-12 overflow-hidden -z-10 py-36">
  <div class="flex flex-col gap-8">
    <h1 class="font-bold tracking-tight text-[5.6rem] leading-[1.1]">
      Your podcast's<span class="block text-gold">publishing platform</span>
    </h1>
    <span class="inline-flex space-y-3">
      <span class="text-2xl"
        >Record & upload your podcast. We'll distribute it to</span
      >
      <div class="hidden">
        <span>
          <span>
            <svg>
              <use href="/assets/icons.svg#icon-spotify"></use>
            </svg>
            <span>Spotify</span>
          </span>
          <span>
            <svg>
              <use href="/assets/icons.svg#icon-google-podcast"></use>
            </svg>
            <span>Google Podcasts</span>
          </span>
          <span>
            <svg>
              <use href="/assets/icons.svg#icon-apple-podcast"></use>
            </svg>
            <span>Apple Podcasts</span>
          </span>
        </span>
      </div>
    </span>
    <a
      href="#"
      class="flex items-center px-8 py-4 text-lg font-medium border-2 rounded-full group border-dark-transparent ring-gold/90 ring-1 w-fit bg-gradient-to-r from-gold to-gold/80 text-dark hover:bg-gold"
    >
      <span>Start 14-day <span class="font-semibold">free trial</span></span>
      <svg
        class="relative right-0 w-5 h-5 ml-1 transition-all group-hover:-right-1"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
      </svg>
    </a>
  </div>
  <!-- background -->
  <div class="-z-[1] absolute inset-0 w-full h-full px-12">
    <div class="relative w-full h-full">
      <div class="absolute inset-0 z-10 w-full h-full">
        <img
          class="w-auto h-auto min-w-full min-h-full rounded-[0_30rem_0_0]"
          src="/assets/homepage-hero-image.jpg"
          alt="Messy podcast studio"
        />
      </div>
      <div
        class="absolute inset-0 z-10 w-full h-full bg-gradient-to-r from-dark to-dark/60"
      >
      </div>
    </div>
  </div>
</div>
