<section class="container px-3 mx-auto mb-40 md:px-6">
  <div class="text-center space-y-8">
    <h3 class="text-4xl sm:text-5xl font-bold">Are you new to podcasting?</h3>
    <p class="sm:text-xl text-lg max-w-3xl mx-auto">
      Learn which microphone is best for you, and how to publish an episode on
      Spotify, Apple Podcasts, and Google Podcasts.
    </p>
    <a href="#" class="block">Learn More</a>
  </div>
</section>
