<section class="px-4 py-20 -mt-24 overflow-hidden md:px-8">
  <div class="container mx-auto">
    <div class="relative p-8 bg-dark-700 rounded-3xl">
      <!-- gradient -->
      <div
        class="absolute inset-0 w-full h-full bg-gradient-to-l from-dark-800 rounded-3xl"
      >
      </div>

      <!-- quote info -->
      <div class="flex flex-col gap-2 lg:gap-6">
        <div class="text-2xl lg:text-3xl text-gold">★★★★★</div>

        <div>
          <h2
            class="max-w-sm text-2xl font-semibold leading-snug md:text-3xl lg:text-4xl lg:max-w-md"
          >
            <span>“</span>
            <span>The best podcast hosting tool I've used</span>
            <span>”</span>
          </h2>
        </div>

        <div>
          <article class="flex items-center gap-3">
            <svg class="w-8 h-8 lg:w-10 lg:h-10 fill-white">
              <use href="/assets/icons.svg#icon-p"></use>
            </svg>
            <div class="flex flex-col text-xs lg:text-md">
              <span>RATING VIA</span>
              <adress class="font-medium">Product Hunt</adress>
            </div>
          </article>
        </div>
      </div>

      <!-- img -->
      <div>
        <img
          src="/assets/podcast-hosting-with-website.png"
          alt="Podcat hosting review"
          class="hidden md:block absolute top-1/2 -translate-y-1/2 w-auto mt-4 h-[400px] xl:h-[440px] -right-1/2 lg:-right-24"
        />
      </div>
    </div>
    <div class="mt-2">
      <a
        href="#"
        class="flex items-center gap-1 pl-6 text-sm font-medium md:pl-0 group"
      >
        <span class="transition-colors group-hover:text-gold text-gold-strong"
          >View Reviews</span
        >
        <svg
          class="w-4 h-4 transition-colors group-hover:stroke-gold stroke-gold-strong"
        >
          <use href="/assets/icons.svg#icon-arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
