<section id="aos-podcast-analytics" class="mb-40">
  <div
    class="container flex flex-col items-center justify-between w-full px-12 mx-auto md:flex-row"
  >
    <!-- main content -->
    <div
      class="order-2 md:ml-12 max-w-sm px-12 space-y-3 text-center md:text-left sm:px-4 md:px-0 lg:max-w-md md:order-1"
      data-aos="fade-right"
      data-aos-delay="100"
      data-aos-anchor="#aos-podcast-analytics"
    >
      <span class="w-12 h-12">&nbsp;</span>
      <h2 class="text-xl font-medium sm:text-3xl md:text-4xl">
        View detailed podcast analytics
      </h2>
      <p class="text-sm sm:text-md lg:text-lg">
        See your average downloads per episode, popular podcast apps, number of
        subscribers, trends.
      </p>
      <button
        class="px-3 py-2 text-sm font-medium capitalize transition-colors rounded-lg bg-gold text-dark-700 hover:bg-gold-strong hover:text-dark"
        >learn more</button
      >
    </div>

    <!-- img -->
    <div
      class="order-1 md:order-2"
      data-aos="fade-left"
      data-aos-delay="100"
      data-aos-anchor="#aos-podcast-analytics"
    >
      <div>
        <img
          src="/assets/stats-1100.png"
          alt="Publish your podcast everywhere"
          class="w-auto rounded-lg max-h-72"
        />
      </div>
    </div>
  </div>
</section>
