<section id="aos-publish" class="mb-40">
  <div class="container flex flex-col items-center justify-between w-full mx-auto md:flex-row">
    <!-- img -->
    <div data-aos="fade-right" data-aos-delay="100" data-aos-anchor="#aos-publish">
      <img
        src="/assets/publish-anywhere.png"
        alt="Publish your podcast everywhere"
      />
    </div>

    <!-- main content -->
    <div
      class="px-12 space-y-3 text-center md:text-left sm:px-4 md:px-0 md:max-w-md md:ml-12 lg:ml-20 xl:ml-40"
      data-aos="fade-left"
      data-aos-delay="100"
      data-aos-anchor="#aos-publish"
    >
      <span class="w-12 h-12">&nbsp;</span>
      <h2 class="text-xl font-medium sm:text-3xl md:text-4xl">
        Publish your podcast everywhere
      </h2>
      <p class="text-sm sm:text-md lg:text-lg">
        Get your podcast on Apple Podcasts, Spotify, Google Podcasts, Overcast,
        Pocket Casts, and many more!
      </p>
      <button
        class="px-3 py-2 text-sm font-medium capitalize transition-colors rounded-lg bg-gold text-dark-700 hover:bg-gold-strong hover:text-dark"
        >learn more</button
      >
    </div>
  </div>
</section>
