<section class="mb-40">
  <div class="w-full container mx-auto flex items-center">
    <!-- img -->
    <div class="">
      <img
        src="/assets/publish-anywhere.png"
        alt="Publish your podcast everywhere"
      />
    </div>

    <!-- main content -->
    <div class="md:ml-12 lg:ml-20 xl:ml-40 max-w-md space-y-3">
      <span class="w-12 h-12">&nbsp;</span>
      <h2 class="text-4xl font-semibold">Publish your podcast everywhere</h2>
      <p class="text-lg font-medium">
        Get your podcast on Apple Podcasts, Spotify, Google Podcasts, Overcast,
        Pocket Casts, and many more!
      </p>
      <button
        class="px-3 py-2 text-sm rounded-lg bg-gold text-dark-700 font-medium capitalize hover:bg-gold-strong hover:text-dark transition-colors"
        >learn more</button
      >
    </div>
  </div>
</section>
