<section class="container mx-auto p-3 sm:p-6">
  <a href="#" class="group block translate-y-20">
    <div
      class="flex flex-col text-center md:text-left md:flex-row justify-between items-center rounded-xl bg-gradient-to-b from-dark-700 to-dark p-12 sm:p-8 shadow-2xl"
    >
      <div
        class="font-black text-3xl md:text-5xl mb-6 md:mb-0 flex flex-col gap-1"
      >
        <span>Try podcasting</span>
        <span>on Transistor</span>
        <span class="text-gold">for free</span>
      </div>

      <button
        class="rounded-full py-3 px-6 transition-colors duration-300 border-2 border-white group-hover:bg-white group-hover:text-dark font-semibold"
        >Start 14-day free trial</button
      >
    </div>
  </a>
</section>
