<section class="container mx-auto p-3 sm:p-6">
  <a href="#" class="group block">
    <div class="max-w-6xl mx-auto">
      <div
        class="flex justify-between items-center rounded-xl bg-gradient-to-b from-dark-700 to-dark-800 p-8"
      >
        <div class="font-black text-5xl flex flex-col gap-1">
          <span>Try podcasting</span>
          <span>on Transistor</span>
          <span class="text-gold">for free</span>
        </div>

        <button
          class="rounded-full py-3 px-6 border-2 border-white group-hover:bg-white group-hover:text-dark font-semibold"
          >Start 14-day free trial</button
        >
      </div>
    </div>
  </a>
</section>
