<div
  class="absolute overflow-hidden lg:-translate-x-1/2 rounded-lg left-0 lg:left-1/2 w-[380px]"
  x-show="open"
  @click.away="open = false"
>
  <div class="px-6 py-5 bg-dark-700">
    <ul class="flex flex-col w-full gap-4">
      <li class="p-3 rounded-lg hover:bg-dark/40">
        <a href="#" class="flex gap-4">
          <div>
            <svg class="w-6 h-6 fill-transparent stroke-gold">
              <use href="/assets/icons.svg#icon-podcast-hosting"></use>
            </svg>
          </div>
          <div class="space-y-2">
            <span>Podcast hosting</span>
            <p class="text-[.8rem] font-normal text-gray">
              Upload your audio to Transistor, we'll generate your podcast's RSS
              feed.
            </p>
          </div>
        </a>
      </li>
      <li class="p-3 rounded-lg hover:bg-dark/40">
        <a href="#" class="flex gap-4">
          <div>
            <svg class="w-6 h-6 fill-transparent stroke-gold">
              <use href="/assets/icons.svg#icon-analytics"></use>
            </svg>
          </div>
          <div class="space-y-2">
            <span>Analytics</span>
            <p class="text-[.8rem] font-normal text-gray">
              See your average downloads per episode, popular podcast apps,
              number of subscribers, trends.
            </p>
          </div>
        </a>
      </li>
      <li class="p-3 rounded-lg hover:bg-dark/40">
        <a href="#" class="flex gap-4">
          <div>
            <svg class="w-6 h-6 fill-transparent stroke-gold">
              <use href="/assets/icons.svg#icon-distribution"></use>
            </svg>
          </div>
          <div class="space-y-2">
            <span>Distribution</span>
            <p class="text-[.8rem] font-normal text-gray">
              Get your podcast on Apple Podcasts, Spotify, Google Podcasts, and
              more!
            </p>
          </div>
        </a>
      </li>
      <li class="p-3 rounded-lg hover:bg-dark/40">
        <a href="#" class="flex gap-4">
          <div>
            <svg class="w-6 h-6 fill-transparent stroke-gold">
              <use href="/assets/icons.svg#icon-private-podcasting"></use>
            </svg>
          </div>
          <div class="space-y-2">
            <span>Private podcasting</span>
            <p class="text-[.8rem] font-normal text-gray">
              Send private episodes to your team, members, advisors,
              subscribers.
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="px-6 py-6 bg-dark-800">
    <div>
      <a href="#" class="flex items-center text-xs group">
        <span class="font-semibold text-gold-strong hover:text-gold"
          >View all Features</span
        >
        <svg
          class="relative w-4 h-4 ml-1 stroke-gold-strong group-hover:stroke-gold"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          stroke-width="1.5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
        </svg>
      </a>
    </div>
  </div>
</div>