<div
  class="fixed hidden right-2 left-2 top-2 bg-dark-700 rounded-lg shadow-lg divide-y-2 divide-gray/20 pb-3"
  mobile-navbar
>
  <div class="space-y-6 p-5">
    <div class="flex justify-between items-center">
      <div class="w-32 h-auto pl-3">
        <img src="/assets/logo.svg" alt="Podcast Fm" />
      </div>

      <button class="p-3 hover:bg-dark rounded-md" action-close-mobile-navbar>
        <svg class="w-4 h-4 fill-gray">
          <use href="/assets/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <nav>
      <ul class="flex flex-col gap-3">
        <li>
          <a
            href="#"
            class="flex gap-4 items-center p-3 rounded-md hover:bg-dark-800"
          >
            <svg class="w-6 h-6 fill-none stroke-gold">
              <use href="/assets/icons.svg#icon-podcast-hosting"></use>
            </svg>
            <span>Hosting</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex gap-4 items-center p-3 rounded-md hover:bg-dark-800"
          >
            <svg class="w-6 h-6 fill-none stroke-gold">
              <use href="/assets/icons.svg#icon-analytics"></use>
            </svg>
            <span>Analytics</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex gap-4 items-center p-3 rounded-md hover:bg-dark-800"
          >
            <svg class="w-6 h-6 fill-none stroke-gold">
              <use href="/assets/icons.svg#icon-distribution"></use>
            </svg>
            <span>Distribution</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex gap-4 items-center p-3 rounded-md hover:bg-dark-800"
          >
            <svg class="w-6 h-6 fill-none stroke-gold">
              <use href="/assets/icons.svg#icon-private-podcasting"></use>
            </svg>
            <span>Private podcasting</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="p-7 space-y-6">
    <ul class="grid grid-cols-2 gap-4 font-medium">
      <li>
        <a href="#" class="text-white hover:text-gray transition-colors"
          >How to start a podcast?</a
        >
      </li>
      <li>
        <a href="#" class="text-white hover:text-gray transition-colors">Blog</a
        >
      </li>
      <li>
        <a href="#" class="text-white hover:text-gray transition-colors"
          >Our customers</a
        >
      </li>
      <li>
        <a href="#" class="text-white hover:text-gray transition-colors"
          >Pricing</a
        >
      </li>
      <li>
        <a href="#" class="text-white hover:text-gray transition-colors"
          >About us</a
        >
      </li>
      <li>
        <a href="#" class="text-white hover:text-gray transition-colors"
          >Reviews</a
        >
      </li>
    </ul>
    <a
      href="#"
      class="block py-3 bg-gold-600 hover:bg-gold-strong text-sm text-center text-dark rounded-md font-medium"
      >Start free trial</a
    >
    <p class="text-center text-gray">
      Existing customer?<a href="#" class="text-gold ml-1 font-medium"
        >Sign in</a
      >
    </p>
  </div>
</div>
