---
import CompanyDropdown from "./NavBar/CompanyDropdown.astro";
import FeaturesDropdown from "./NavBar/FeaturesDropdown.astro";
import MobileNavigation from "./MobileNavigation.astro";
---

<nav class="sticky top-0 left-0 z-50 bg-dark/90 backdrop-blur-sm">
  <div
    class="container flex items-center justify-between px-4 py-4 mx-auto sm:px-6"
  >
    <div>
      <a href="/" class="bg-white">
        <img class="w-40 h-auto" src="/assets/logo.svg" alt="Podcast--x" />
      </a>
    </div>

    <!-- mobile show nav menu button -->
    <div class="md:hidden">
      <button action-show-nav>
        <svg class="w-6 h-6 transition-all stroke-white hover:stroke-gray">
          <use href="/assets/icons.svg#icon-humbergur"></use>
        </svg>
      </button>
    </div>

    <MobileNavigation />

    <ul class="hidden gap-6 text-sm font-medium md:flex lg:gap-10">
      <li class="relative" id="navlink">
        <button
          class="flex items-center gap-1 py-3 transition-colors hover:text-light"
        >
          <span>Features</span>
          <svg class="w-5 h-5 fill-gray">
            <use href="/assets/icons.svg#icon-down"></use>
          </svg>
        </button>

        <FeaturesDropdown />
      </li>
      <li class="flex items-center gap-1 transition-colors hover:text-light">
        <a href="#">Pricing</a>
      </li>
      <li class="relative" id="navlink">
        <button
          class="flex items-center gap-1 py-3 transition-colors hover:text-light"
        >
          <span>Company</span>
          <svg class="w-5 h-5 fill-gray">
            <use href="/assets/icons.svg#icon-down"></use>
          </svg>
        </button>
        <CompanyDropdown />
      </li>
    </ul>

    <div class="hidden space-x-4 font-medium text-md md:block">
      <a href="#" class="text-gray hover:text-white">Sign in</a>
      <a
        href="#"
        class="px-3 py-2 border rounded-md broder-white hover:bg-white hover:text-dark"
        >Start free trial</a
      >
    </div>
  </div>
</nav>

<script>
  const navigationLinks = document.querySelectorAll("#navlink");

  navigationLinks.forEach((navlink: Element) => {
    const dropdown = navlink.querySelector("#dropdown")!;
    navlink.addEventListener("click", (e) => {
      dropdown.classList.toggle("hidden");
    });
    document.addEventListener("click", (e) => {
      if (navlink.contains(e.target as Node)) return;
      dropdown.classList.add("hidden");
    });
  });

  // mobile navigation
  const showNavBtn: HTMLButtonElement =
    document.querySelector("[action-show-nav]")!;
  const hideNavBtn: HTMLButtonElement = document.querySelector(
    "[action-close-mobile-navbar]"
  )!;
  const mobileNav: HTMLElement = document.querySelector("[mobile-navbar]")!;

  showNavBtn.addEventListener("click", () => {
    mobileNav.classList.remove("hidden");
  });
  hideNavBtn.addEventListener("click", () => {
    mobileNav.classList.add("hidden");
  });
</script>
